pandas
spacy
openpyxl
numpy
sentence-transformers
scikit-learn
streamlit
python-dotenv
qdrant-client
rank_bm25
google-generativeai
huggingface-hub
transformers
flask-cors
fastapi
uvicorn
torch
IndicTransToolkit
langdetect
plotly
spacy==3.6.1
